@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the wonderful world of trash collecting! Don't WASTE your time, just click and select your weekly pickup time and we'll take it from there.</a>.</p>
</div>
